.allergy_title {
color: #808080;
padding-right: 0.4rem;
font-weight: 400;
}

.allergy_wrapper{
  display: flex;
  width: 100%;
}
.allergy {
  /* position: absolute; */
width: auto;
  /* border-radius: 0px 0px 8px 8px; */
  /* width: calc(160px - 1.5rem); */
  text-align: left;
  display: flex;
  justify-content: flex-start;
}
.allergy_item{
  min-width: 13px;
  text-align: center;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  background: #d5e4db;
  color: #00541e;
  margin-left: 0.3rem ;
  margin-right: 0.3rem ;
}


/* Mobile */
@media (max-width: 700px) {

  .allergy {
    margin-bottom: 1rem;
    width: auto;
  }


}