.container {
  max-width: 1200px;
  padding-top: 1.5rem;
  margin: 0 auto;
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin: 0 auto;
  padding: 1.5em;
}

.hero {
  position: relative;
  height: 100vh;
  object-fit: contain;

  display: block;
  top: auto;
  left: auto;
  width: 100%;
  margin-bottom: 3rem;
}

.logo {
  position: relative;
  margin: 0px 1rem 2rem 1rem;
  width: calc(100% - 2rem);
  height: 100%;
  max-height: 130px;
}

.menu_group_heading {
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ccc;
  color: #2e2e2e;
  font-family: 'Fondamento', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 2rem;
  text-align: center;
  /* letter-spacing: 0.1rem; */
}

.menu_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.85em;
  padding: 1.5em 0;

}

.menu_item {
  display: flex;
  position: relative;
}

.top_section {
  position: relative;
  margin-right: 1.5em;
}

.menu_item_image {
  position: relative;
  width: 160px;
  max-height: 90px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 5px;
  min-width: 160px;
}

.vegan {
  position: absolute;
  left: 0;
  top: 90px;
  padding: 0.3rem 0.7rem;
  color: #009736;
  border-radius: 0px 0px 8px 8px;
  background: #fff;
  width: calc(160px - 1.5rem);
  text-align: center;
}

.order_nummber {
  height: 0px;
  position: absolute;
  /* top: 6px; */
  right: 0rem;
  bottom: 0rem;
}

.order_nummber_under_price {
  margin: 0px;
  font-size: smaller;
  text-align: end;
  color: #00541e;
}

.menu_item_text {
  flex-grow: 1;
}

.menu_item_heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.menu_item_heading_name {
  /* color: #EE2A35; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

}

.menu_item_name {
  margin-right: 1.5em;
  overflow-wrap: anywhere;
}

.menu_item_name_sub {
  margin-right: 1.5em;
  font-size: smaller;
  font-weight: lighter;
  overflow-wrap: anywhere;
}

.menu_item_description {
  line-height: 1.6;
}

.menu_item_price {
  color: #009736;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_item_price_amount {
  line-height: 1.6;
}

.menu_item_price_currency {
  margin-left: 4px;
  font-size: smaller;
  font-weight: lighter;
}

.footer {
  text-align: center;
}

.footer_top {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}

.footer_top_section {
  flex-direction: column;
  width: 50%;
  /* width: 33.33%; */
  font-size: large;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;


}

.footer_top_section h3 {}

.footer_top_section h3 span {
  font-weight: lighter;
}

.footer_top_section a {
  text-decoration: none;
  color: #009736;
  font-size: medium;
  /* padding-left: 1rem; */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.footer_top_section table {
  text-align: left;
}

.footer_top_section th {
  text-align: right;
}

.footer_top_section td {
  padding-left: 0.3rem;
  text-align: center;
}

.footer_bottom {
  margin-top: 2rem;
}

.map {
  background-image: url('https://maps.googleapis.com/maps/api/staticmap?scale=1&amp;size=1600x900&amp;style=feature:poi.business|visibility:off&amp;style=feature:water|visibility:simplified&amp;style=feature:road|element:labels.icon|visibility:off&amp;style=feature:road.highway|element:labels|saturation:-90|lightness:25&amp;format=jpg&amp;language=en&amp;region=CZ&amp;markers=color:0xddaa44|50.0796000,14.4194968&amp;zoom=16&amp;client=google-presto&amp;signature=7HN9eYNqwR2o_kfuGlDNK8cRJ8g');
  background-position: center center;
  background-repeat: no-repeat;
  /* padding-top: 56%; */
  width: 100%;
  height: 150px;
}

.flag_background {
  background: darkgreen;
  /* border: 1px red solid; */
  height: 90px;
  width: 100%;
}

.flag_top {
  background: black;
  width: 100%;
  height: 30px;
  z-index: 1;
}

.flag_middle {
  background: white;
  width: 100%;
  height: 30px;
  z-index: 1;
}

.flag_triangle {
  background: auto;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 45px solid red;
  z-index: 2;
  position: relative;
  top: -60px;
  left: 0;
}

.copyright {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;
  color: #737373;

}

.langSelector {
  display: flex;
  position: fixed;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  padding: 1rem;
  border: none;
  box-shadow: #eee 0px 0px 40px;
  /* width: 50%;
  max-width: 150px; */
  cursor: pointer;
  background-color: #fff;
  /* height: 30px; */
  /* border-radius: 5px; */
  border-radius: 50px;
  /* background-color: #009736; */
}

.social {
  display: flex;
}

.footer_top_section .social a {
  font-size: 28px;
  padding: 0px 1rem 1rem 1rem;
}

.wolt_icon {
  font-family: 'Delicious Handrawn', cursive;
}

@media screen and (min-width: 992px) {}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .hero {
    position: relative;
    height: 100%;
    object-fit: contain;
    display: block;
    top: auto;
    left: auto;
    width: 100%;
  }

  .menu_group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    /* padding: 1.5em 0; */
  }

  .menu_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 15px;
    box-shadow: #eee 0px 11px 10px;
  }

  .top_section {
    margin-right: 0px;
  }

  .menu_item_image {
    width: 100%;
    max-height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    margin-bottom: 1em;
    border-radius: 15px 15px 0px 0px;
    min-height: 100px;
  }

  .order_nummber {
    position: absolute;
    top: 0px;
    left: 1rem;
  }

  .menu_item_heading {
    margin-bottom: 1rem;
  }

  .menu_item_text {
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .menu_item_description {
    /* text-align: center; */
  }

  .vegan {
    margin-bottom: 1rem;
    left: auto;
    right: 0px;
    top: auto;
    bottom: 0;
    border-radius: 8px 0px 0px 0px;
    /* background-color: #009736d6; */
    width: auto;
  }

  .footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footer_top_section {
    width: 100%;
    flex-direction: column;
  }

  .footer_top_section a {
    padding: 0px;
  }
}

.footer_top_section a {
  color: #00541e;
}

.footer_top_section a:hover {
  color: #009736;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .menu_group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.85em;
    padding: 1.5em 0;

  }

  .footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footer_top_section {
    width: 100%;
    flex-direction: column;
  }

  .footer_top_section a {
    text-decoration: none;
    padding: 0px;
  }

  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* 
@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
} */


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}